@import "../variables";

.categories {
  scrollbar-width: thin; /* Установить узкую полосу прокрутки */
  scrollbar-color: #fe5f1e #f0f0f0; /* Цвет бегунка (#888) и дорожки (#f0f0f0) */
  margin-right: 10px;
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3px;
    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
.categories::-webkit-scrollbar {
  width: 0px; /* Ширина вертикальной полосы прокрутки */
  height: 5px; /* Высота горизонтальной полосы прокрутки */
}
.categories::-webkit-scrollbar-track {
  border-radius: 50px; /* Радиус скругления углов */
}

/* Стилизуем сам бегунок полосы прокрутки */
.categories::-webkit-scrollbar-thumb {
  border-radius: 50px; /* Радиус скругления углов */
}
